Authomatic==0.0.8
Flask==1.0
Flask-Login==0.2.11
Flask-OpenID==1.2.1
Flask-PyMongo==0.3.0
Flask-Triangle==0.5.4
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
itsdangerous==0.24
jsonschema==2.3.0
pusher==0.8
pymongo==2.7.1
python-openid==2.2.5
requests==2.2.1
six==1.7.2
wsgiref==0.1.2
xlrd==0.9.3
